<div class="x_panel">
<div class="x_title">
<h2>Editar Pago </h2>
<ul class="nav navbar-right panel_toolbox">
<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
<ul class="dropdown-menu" role="menu">
<li><%= link_to 'Listar Pagos', pagos_path%>
</li>
</ul>
</li>
<li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
</ul>
<div class="clearfix"></div>
</div>

<div class="x_content">
<%= render 'form' %>
<%= link_to 'Ver', @pago, :class=>"btn btn-primary" %> 
<%= link_to 'Regresar', pagos_path, :class=>"btn btn-primary" %>
</div>
</div>